.container {
	max-width: 1000px;
	margin: 0 auto;
}

.product-card {
	display: flex;
	flex-direction: row;
	height: 350px;
	background-color: var(--primary-color);
}

.owner {
	padding: 15px;
	border-bottom: 3px solid;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.owner-profile {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	text-align: center;
	line-height: 75px;
	font-size: 2em;
	color: var(--primary-color);
	margin-right: 15px;
	margin-bottom: 10px;
	background: var(--grey);
	cursor: pointer;
}
.owner-name {
	font-size: 1.2em;
}
.owner-username {
	margin-top: 5px;
	color: var(--grey);
	cursor: pointer;
}
.owner-username:hover {
	text-decoration: underline;
}
.image {
	background-color: var(--grey);
	line-height: 200px;
	text-align: center;
	color: var(--primary-color);
	font-size: 3em;
	margin-right: 10px;
	width: 50%;
}
.product-content {
	padding: 20px;
	width: 100%;
}
.product-name {
	margin-bottom: 20px;
}
.product-description {
	overflow: auto;
	line-height: 1.3em;
	height: 100px;
}

.btn-group {
	margin-top: 10px;
}
.buy,
.cart-2 {
	padding: 10px 15px;
	cursor: pointer;
	font-size: 1.1em;
	background: none;
	border-radius: 8px;
	border: 1px solid var(--grey);
	margin: 0 5px;
	transition: 0.5s all ease-in-out;
}

.buy:hover,
.cart-2:hover {
	background-color: var(--grey);
	color: var(--primary-color);
}
