* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(25, 25, 25);
	display: inline-block;
}

@font-face {
	font-family: "Inter", sans-serif;
	src: url("../assets/Inter-VariableFont_slnt\,wght.ttf");
}

body {
	font-family: "Inter", sans-serif;
}

:root {
	--primary-color: #fff;
	--secondary-color: #1a1a1d;
	--border-color: #dbdbdb;
	--grey: #6f6f6f;

	--additional-color: #6f00ca;
	--additional-hover-color: #5c11a1;
}

body {
	background: var(--primary-color);
	color: var(--secondary-color);
}

.dark-mode {
	--primary-color: #1a1a1d;
	--secondary-color: #fff;
	--border-color: #f0f0f0;
	--grey: #d6d5d5;
}

.toast {
	z-index: 1001;
	position: fixed;
	border: 1px solid var(--border-color);
	transition: 0.5s all ease-in-out;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px 10px;
	border-radius: 5px;
	background-color: var(--grey);
	color: var(--primary-color);
	font-size: 1.1em;
}
.drawer {
	border: 1px solid var(--border-color);
	height: 91%;
	position: fixed;
	width: 20%;
	bottom: 0;
	z-index: 1000000;
	background: var(--primary-color);
}
.drawer-head {
	height: 25%;
	position: relative;
}
.avatar {
	cursor: pointer;
	position: absolute;
	left: 25%;
	top: 20%;
	transform: translateX(-10%);
	width: 55%;
	line-height: 160px;
	font-size: 3em;
	background-color: var(--grey);
	color: var(--primary-color);
	height: 100%;
	border-radius: 50%;
	text-align: center;
}
.drawer-list {
	width: 100%;
	padding-top: 40px;
}
.drawer-overlay {
	width: 80%;
	bottom: 0;
	right: 0;
	height: 100%;
	position: fixed;
	z-index: 1000;
}
.drawer-top-item {
	border-top: 1px solid var(--border-color);
}
.drawer-top-item,
.drawer-item {
	padding: 10px;
	border-bottom: 1px solid var(--border-color);
	cursor: pointer;
	transition: 0.5s all ease-in-out;
	font-size: 1.1em;
}
.drawer-top-item:hover,
.drawer-item:hover {
	opacity: 0.8;
	background-color: var(--grey);
}

.nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	box-shadow: 1px 1px 5px var(--secondary-color);
	transition: 0.5s all ease-in-out;
}
.nav-first-part {
	display: flex;
	justify-content: space-evenly;
}
.bars,
.theme,
.nav-arrow {
	margin-left: 5px;
	margin-top: 15px;
}
.bars {
	padding: 4px;
	border-radius: 4px;
	border: 1px solid var(--border-color);
	transition: 0.5s all ease-in-out;
	cursor: pointer;
	color: var(--secondary-color);
}
.bars:hover {
	background-color: var(--border-color);
	color: var(--primary-color);
}
.nav-arrow {
	padding: 4px;
	cursor: pointer;
}
.theme {
	display: inline-block;
	padding: 10px 5px;
	margin-top: 10px;
	cursor: pointer;
}
.nav-second-part {
	display: flex;
}
.nav-item {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 20px;
	transition: 0.5s all ease-in-out;
}
.nav-item:hover {
	background-color: var(--grey);
	color: var(--primary-color);
}
.logo {
	font-size: 2em;
	font-weight: 200;
	margin-left: 10px;
	margin-top: 10px;
}
.carousel {
	height: 500px;
	width: 100%;
	margin-top: 40px;
	display: flex;
	align-items: center;
}
.slide-container {
	width: 60%;
	margin: 0 auto;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.product-about {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.product-about {
	font-size: 1.1em;
}
.img-1,
.img-2,
.img-3,
.img-4 {
	height: 50%;
	width: 30%;
	margin: 0 auto;
	border-radius: 25px;
	transition: 0.5s all ease-in-out;
	cursor: pointer;
}
.img-1 {
	background-color: red;
}
.img-2 {
	background-color: blue;
	display: none;
}
.img-3 {
	background-color: black;
	display: none;
}
.img-4 {
	background-color: yellow;
	display: none;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover {
	transform: scale(1.1);
	box-shadow: 3px 4px 15px var(--secondary-color);
}

.next-arrow {
	position: absolute;
	right: 3%;
	top: 45%;
	background-color: none;
	border: none;
}
.back-arrow {
	position: absolute;
	left: 3%;
	top: 45%;
	background-color: none;
	border: none;
}
.product-more {
	position: absolute;
	right: 4%;
	color: var(--primary-color);
	font-size: 1.3em;
	margin-top: -25px;
	cursor: pointer;
}
.dropdown-overlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.dropdown-menu {
	position: absolute;
	right: 8%;
	top: 8%;
	border: 1px solid var(--border-color);
	background-color: var(--primary-color);
	border-radius: 8px;
}
.dropdown-item {
	width: 200px;
	padding: 15px;
	background: none;
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	display: block;
}
.buy-btn {
	padding: 7px 15px;
	margin: 0 10px;
	color: #fff;
	font-size: 1.1em;
	background-color: var(--additional-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}
.buy-btn:hover {
	background-color: var(--additional-hover-color);
}
.cart-btn {
	padding: 6px 15px;
	margin: 0 5px;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
	font-size: 1.1em;
	color: var(--secondary-color);
	outline: 1px solid var(--secondary-color);
	border-radius: 4px;
	background: none;
	border: none;
}
.cart-btn:hover {
	background: var(--additional-hover-color);
	color: var(--secondary-color);
	outline: none;
}
.bar {
	display: flex;
	padding: 20px;
	margin: 40px 0;
	margin-top: 100px;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 0;
}
.bar-item {
	cursor: pointer;
	padding: 15px;
	transition: all 0.5s ease-in-out;
	color: var(--secondary-color);
}
.bar-item:hover {
	background: var(--grey);
	color: var(--primary-color);
	border-bottom: none;
}
.btn-group {
	padding: 10px;
	padding-bottom: 0;
}
.post-item,
.filter,
.cart {
	border: none;
	position: relative;
	background: none;
	padding: 10px 5px;
	margin: 0 5px;
	font-size: 1.1em;
	cursor: pointer;
	padding-bottom: 3px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transition: all 0.8s ease-in-out;
}
.cart-dropdown {
	position: absolute;
	overflow: auto;
	transform: translateX(-10%);
	background-color: var(--primary-color);
	z-index: 100;
	height: 350px;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	width: 300px;
	padding: 20px;
}
.cart-header {
	display: flex;
	justify-content: end;
}
.btn-group {
	display: flex;
	justify-content: end;
}
.cart-buy-btn,
.cart-del-btn {
	margin: 0 5px;
	color: var(--secondary-color);
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
}

.tooltip-postitem {
	width: 95px;
}

.tooltipcart,
.tooltipfilter,
.tooltip-postitem,
.tooltiptext1,
.tooltiptext2 {
	opacity: 0;
	bottom: 100%;
	right: 0;
	transform: translateX(15%);
	background-color: var(--secondary-color);
	color: var(--primary-color);
	transition: all 0.5s ease-in-out;
	border-radius: 4px;
	z-index: 100001;
	padding: 5px 10px;
	position: absolute;
}
.tooltiptext2 {
	transform: translateX(35%);
}
.cart-buy-btn:hover .tooltiptext1 {
	opacity: 1;
}
.cart-del-btn:hover .tooltiptext2 {
	opacity: 1;
}
.cart:hover .tooltipcart {
	opacity: 1;
}
.filter:hover .tooltipfilter {
	opacity: 1;
}
.post-item:hover .tooltip-postitem {
	opacity: 1;
}
.cart-item {
	display: flex;
	width: 100%;
	height: 125px;
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.cart-item-content {
	width: 100%;
	padding: 10px;
}
.cart-item-img {
	width: 60%;
	background: var(--grey);
	text-align: center;
	line-height: 125px;
	font-size: 1.2em;
	color: var(--primary-color);
}
.cart-item-price {
	font-weight: 700;
}
.cart-item-title {
	border-bottom: 2px solid var(--secondary-color);
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.filter-dropdown {
	border: 1px solid var(--grey);
	display: inline-block;
	background-color: var(--border-color);
	border-radius: 8px;
	position: absolute;
	z-index: 1000;
	right: 7%;
	top: 24%;
}
.filter-dropdown > div {
	padding: 10px 15px;
	cursor: pointer;
	border-bottom: 1px solid var(--grey);
	transition: 0.5s all ease-in-out;
}
.filter-dropdown > div:last-child {
	border-bottom: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.filter-dropdown > div:first-child {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.filter-dropdown > div:hover {
	background-color: var(--grey);
	color: var(--primary-color);
}
